In [1]:
import ta
import yfinance as yf
import pandas as pd
from backtesting import Backtest, Strategy
from backtesting.lib import crossover

In [2]:
class SMAcross(Strategy):

    n1= 50
    n2= 100

    def init(self):
        close = self.data.Close
        self.sma1 = self.I(ta.trend.sma_indicator, pd.Series(close), self.n1)
        self.sma2 = self.I(ta.trend.sma_indicator, pd.Series(close), self.n2)

    def next(self):
        if crossover(self.sma1, self.sma2):
            self.buy()
        elif crossover(self.sma2, self.sma1):
            self.sell()

In [3]:
df= yf.download('BTC-USD', start= '2018-01-01')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,10291200000
2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,16846600192
2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,16871900160
2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,21783199744
2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,23840899072
...,...,...,...,...,...,...
2023-03-15,24770.925781,25240.615234,23964.910156,24375.960938,24375.960938,43655701450
2023-03-16,24373.457031,25190.326172,24225.111328,25052.789062,25052.789062,33866061747
2023-03-17,25055.123047,27787.812500,24955.169922,27423.929688,27423.929688,50730261335
2023-03-18,27448.117188,27725.953125,26636.261719,26965.878906,26965.878906,35723036817
2023-03-19,27011.664062,28416.949219,26931.964844,28388.808594,28388.808594,35544051712

In [5]:
bt= Backtest(df, SMAcross, cash= 100000, commission= 0.002, exclusive_orders=True)

In [6]:
output= bt.run()

In [7]:
output

Start                     2018-01-01 00:00:00
End                       2023-03-19 00:00:00
Duration                   1903 days 00:00:00
Exposure Time [%]                   91.701681
Equity Final [$]                 167222.67002
Equity Peak [$]                 451241.245856
Return [%]                           67.22267
Buy & Hold Return [%]              107.866973
Return (Ann.) [%]                   10.358568
Volatility (Ann.) [%]               77.697435
Sharpe Ratio                         0.133319
Sortino Ratio                        0.231606
Calmar Ratio                         0.140985
Max. Drawdown [%]                  -73.472866
Avg. Drawdown [%]                  -12.787293
Max. Drawdown Duration      705 days 00:00:00
Avg. Drawdown Duration       69 days 00:00:00
# Trades                                   19
Win Rate [%]                        47.368421
Best Trade [%]                     160.225878
Worst Trade [%]                    -47.540579
Avg. Trade [%]                       2.819191
Max. Trade Duration         208 days 00:00:00
Avg. Trade Duration          92 days 00:00:00
Profit Factor                         2.09143
Expectancy [%]                       12.49093
SQN                                  0.233599
_strategy                            SMAcross
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object