In [7]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

### Setting rows on dataframes to max instead of shortening them for ease 
#### ( use .head(5) or .tail(5) for summarized version if needed )

In [8]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Defining the timeframe for the data extraction 
#### (X days back back from current day)

In [9]:
today = datetime.today()
X_ago = (today - timedelta(days=30)).strftime('%Y-%m-%d')

### Get data from yahoo finance api

In [10]:
data = yf.download("BTC-USD", start = X_ago, end = today, interval = "1h")
data.drop('Adj Close', axis=1, inplace=True)
data.tail(3)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
Datetime,,,,,
2023-04-06 21:00:00+00:00,27988.839844,28041.214844,27977.337891,27995.966797,0
2023-04-06 22:00:00+00:00,27994.730469,28017.050781,27933.515625,28012.847656,29019136
2023-04-06 23:00:00+00:00,28034.193359,28034.193359,28034.193359,28034.193359,0

### Add MACD to df

In [11]:
data2 = data.ta.macd()
data2.tail(3)

                           MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Datetime
2023-04-06 21:00:00+00:00    -36.500425      15.759138     -52.259564
2023-04-06 22:00:00+00:00    -33.382776      15.101430     -48.484206
2023-04-06 23:00:00+00:00    -28.856952      15.701803     -44.558755

### Concat the 2 dfs together

In [12]:
data3 = pd.concat([data, data2], axis=1)
data3.tail(3)

,Open,High,Low,Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Datetime,,,,,,,,
2023-04-06 21:00:00+00:00,27988.839844,28041.214844,27977.337891,27995.966797,0,-36.500425,15.759138,-52.259564
2023-04-06 22:00:00+00:00,27994.730469,28017.050781,27933.515625,28012.847656,29019136,-33.382776,15.101430,-48.484206
2023-04-06 23:00:00+00:00,28034.193359,28034.193359,28034.193359,28034.193359,0,-28.856952,15.701803,-44.558755