In [183]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

### Setting rows on dataframes to max instead of shortening them for ease 
#### ( use .head(5) or .tail(5) for summarized version if needed )

In [184]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Defining the timeframe for the data extraction 
#### (X days back back from current day)

In [185]:
today = datetime.today()
X_ago = (today - timedelta(days=30)).strftime('%Y-%m-%d')

### Get data from yahoo finance api

In [186]:
data = yf.download("BTC-USD", start = X_ago, end = today, interval = "1h")
data.drop('Adj Close', axis=1, inplace=True)
data.tail(10)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
Datetime,,,,,
2023-04-06 13:00:00+00:00,27915.357422,27981.990234,27765.341797,27888.312500,0
2023-04-06 14:00:00+00:00,27894.736328,27973.695312,27894.736328,27943.531250,0
2023-04-06 15:00:00+00:00,27955.830078,28178.300781,27954.255859,28113.146484,0
2023-04-06 16:00:00+00:00,28099.197266,28148.689453,28058.759766,28060.880859,0
2023-04-06 17:00:00+00:00,28064.765625,28091.890625,28027.443359,28053.392578,19984384
2023-04-06 18:00:00+00:00,28049.398438,28098.267578,27982.414062,27982.414062,87232512
2023-04-06 19:00:00+00:00,27970.919922,28060.460938,27970.777344,28058.226562,23367680
2023-04-06 20:00:00+00:00,28025.621094,28117.185547,27984.724609,27996.935547,70274048
2023-04-06 21:00:00+00:00,27988.839844,28041.214844,27977.337891,27995.966797,65262592
2023-04-06 22:00:00+00:00,27994.730469,28017.050781,27933.515625,27950.935547,53176320

### Add MACD to df

In [187]:
data2 = data.ta.macd()
data2.tail(10)

                           MACD_12_26_9  MACDh_12_26_9  MACDs_12_26_9
Datetime
2023-04-06 13:00:00+00:00    -92.101788     -10.626419     -81.475369
2023-04-06 14:00:00+00:00    -87.337122      -4.689402     -82.647720
2023-04-06 15:00:00+00:00    -69.078267      10.855562     -79.933829
2023-04-06 16:00:00+00:00    -58.155017      17.423050     -75.578067
2023-04-06 17:00:00+00:00    -49.531536      20.837225     -70.368760
2023-04-06 18:00:00+00:00    -47.872889      17.996697     -65.869586
2023-04-06 19:00:00+00:00    -39.980098      20.711590     -60.691688
2023-04-06 20:00:00+00:00    -38.229986      17.969362     -56.199348
2023-04-06 21:00:00+00:00    -36.500425      15.759138     -52.259564
2023-04-06 22:00:00+00:00    -38.321634      11.150344     -49.471978

### Concat the 2 dfs together

In [188]:
data3 = pd.concat([data, data2], axis=1)
data3.tail(10)

,Open,High,Low,Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Datetime,,,,,,,,
2023-04-06 13:00:00+00:00,27915.357422,27981.990234,27765.341797,27888.312500,0,-92.101788,-10.626419,-81.475369
2023-04-06 14:00:00+00:00,27894.736328,27973.695312,27894.736328,27943.531250,0,-87.337122,-4.689402,-82.647720
2023-04-06 15:00:00+00:00,27955.830078,28178.300781,27954.255859,28113.146484,0,-69.078267,10.855562,-79.933829
2023-04-06 16:00:00+00:00,28099.197266,28148.689453,28058.759766,28060.880859,0,-58.155017,17.423050,-75.578067
2023-04-06 17:00:00+00:00,28064.765625,28091.890625,28027.443359,28053.392578,19984384,-49.531536,20.837225,-70.368760
2023-04-06 18:00:00+00:00,28049.398438,28098.267578,27982.414062,27982.414062,87232512,-47.872889,17.996697,-65.869586
2023-04-06 19:00:00+00:00,27970.919922,28060.460938,27970.777344,28058.226562,23367680,-39.980098,20.711590,-60.691688
2023-04-06 20:00:00+00:00,28025.621094,28117.185547,27984.724609,27996.935547,70274048,-38.229986,17.969362,-56.199348
2023-04-06 21:00:00+00:00,27988.839844,28041.214844,27977.337891,27995.966797,65262592,-36.500425,15.759138,-52.259564
2023-04-06 22:00:00+00:00,27994.730469,28017.050781,27933.515625,27950.935547,53176320,-38.321634,11.150344,-49.471978